    {{> head }}

    
    {{> navbar }}

    
    <div class="container-fluid">
        <div class="row pt-4">
            <div class="col-8">
                <h1>Foto de {{ nombre }}</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae cum inventore ipsam nisi dolor sunt repellendus facilis iure earum quis ad vitae natus, esse illo culpa numquam atque eos qui.</p>
            </div>
            <div class="col-4">
                <img src="assets/img/01.jpg" class="img-thumbnail" alt="">
            </div>
        </div>
    </div>

    {{> footer }}